<html>
    <body>
        <style>body {background-color: rgba(255, 255, 255, 0.171);} </style>
        <br>
        <center><h2 style="color:rgb(0, 0, 0)"> SUPERHERO GENERATOR </h2></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center> <b>Power: </b> {{ power }} </center>
        <br>
        <center> <b>publisher: </b> {{ publisher }} </center>
        <br>
        <center> <b>superhero: </b> {{ superhero }} </center>


        

    </body>

</html>